body {
	background-color: #1f1c1a;
	margin: auto;
	font-family:  'Akaya Telivigala', cursive;
	}
* {
		box-sizing: border-box;
	}
.start {
	font-size: 35px;
	color:#e8e117;
	text-decoration: none;
	border: 3px solid #e8e117;
    background: transparent;
    padding: 2px;
    cursor: pointer;
}
.wiki {
	color:#e8e117;
	text-decoration: none;
	font-size: 16px;
	
}
.shining {
	margin: auto;
	padding: auto;
	font-size: 17px;
	
}
.halloween {
	margin: auto;
	padding: auto;
	font-size: 17px;
}
.lighthouse {
	margin: auto;
	padding: auto;
	font-size: 17px;
}
.swiss-army-man {
	margin: auto;
	padding: auto;
	font-size: 17px;
}
.first {
	margin: auto;
	font-size: 30px;
}
.second {
	margin: auto;
	font-size: 30px;
}
.third {
	margin: auto;
	font-size: 30px;
}
.fourth {
	margin: auto;
	font-size: 30px;
}

.a { 
	color: #1f1c1a;
}
.container {
	margin: auto;
	text-align: center;
	color: #edeef2;
}
.social-media {
	padding: 5px;
	float: center;
}
.column {
    float: left;
	width: 50%;
	padding: 5px;
}
.social-media {
	float: center;
}
#contact-photo {
	width: 1535px;
	height: 40vh;
	
}
header {
	width: 100%;
	
}
#horror-photo {
	width: 100%;
	height: 65vh;
	
}
.all-links {
    display: grid;
	grid-template-columns: 30% 30% 30% 10%;
	list-style: none;
    }
.home-link {
	font-size: 25px;
	color: #e8e117;
	text-decoration: none;
	}

#container{
	background-size: 100%;
	}
#home-page-photo {
	width: 100%;
	height: 65vh;
	}
.home-page-text {
	text-align: center;
	color: white;
}
#arthouse-photo {
	width: 100%;
	height: 65vh;
}

.two-column {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 20px;	
	color: white;
}
.info-column {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 20px;
	color: white;
	margin: auto;
	column-gap: 20px;
	column-count: 2;
	}
.arthouse-page-text {
	color: #edeef2;
	text-align: center;
}
.footer p{
	float: left;
	justify-content: space-evenly;
	}
.footer {
	margin-left: 11em;
	padding: 5px;
	
}
.footer-1 {
	margin-right: 11em;
	
}

